<!DOCTYPE html>
<html>
  <head>
    <%-include ('../header.ejs')%>
    <style>
      body{
        background-color: #495057;
      }
    </style>
  </head>
  <body>
    <%-include ('../sidebar.ejs')%>
    <div class = "container text-white">
      <div class ="page-header text-center">
        <h1><span class = "fa fa-user"></span> 사용자 프로필</h1>
      </div>
      <br>
      <div class = "row">
        <div class = "col-sm-6">
          <div class="well">
            <form action="/profile/update" method ="POST">
            <% if(user.provider == undefined || user.provider == ''){%>
            <h3><span class="fa fa-user"></span> 로컬 프로필 정보</h3>
            <br>
            <p>
              <strong>이름</strong>:<input name = "name" value = "<%= user.name %>"/><br><br>
              <strong>이메일</strong>:<%= user.email %>
            </p>
          <%} else if(user.provider == 'facebook'){%>
            <h3 class="text-primary">
              <span class = "fa fa-facebook"></span> 페이스북 프로필
            </h3>
            <br>
            <p>
              <strong>아이디</strong> : <%= user.facebook.id %><br><br>
              <strong>이메일</strong> : <%= user.facebook.email %><br><br>
              <strong>이름</strong> :<input name = "name" value = ""/>
            </p>
          <%}else if(user.provider == 'google'){%>
            <h3 class="text-danger">
              <span class = "fa fa-google"></span> 구글 프로필
            </h3>
            <br>
            <p>
              <strong>아이디</strong> : <%= user.google.sub %><br><br>
              <strong>이메일</strong> : <%= user.google.email %><br><br>
              <strong>이름</strong> : <input name = "name" value = ""/>
            </p>
          <%}%>
          </div>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-warning"><strong>프로필 수정하기</strong></button>
      </form>
    </div>
  </body>
</html>